.dash-card, .chart-card{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
}

.dash-card:hover, .chart-card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.dash-card{
    max-width: 320px;
    height: 120px;
    padding: 15px;
    background-color: #281240;
    border-radius: 8px;
    color: white;
    margin: 10px auto;
}

.dash-card h5.title{
    font-weight: 500;
    color: rgb(197, 197, 197);
    margin: 0px;
    font-size: 16px
}

.dash-card .content *, .chart-card .header *{
    margin: 0px;
    padding: 0px;
}

.dash-card .content{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-card{
    background-color: #ffffff;
    margin: 10px auto;
    border-radius: 5px;
}

.chart-card .header{
    padding: 12px 10px;
    border-bottom: 1px solid rgb(199, 199, 199);
    color: rgb(71, 71, 71);
}

.chart-card canvas{
    max-height: 450px;
}

.chart-card .achievements button{
    font-weight: 700;
}

.chart-card #achievementProgress{
    position: relative;
}

.chart-card #achievementProgress .text-container{
    position: absolute;
    top: 10px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

@media (min-width: 576px){

    .chart-card .content{
        padding: 15px;
    }

}