.finals-container{
    max-width: 750px;
    margin: auto;
    color: #000000;
    filter: blur(3px);
}

label.part{
    display: block;
    font-weight: 700;
}

p.instruction{
    margin-top: 15px;
    margin-bottom: 5px;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul .question-container{
    display: flex;
    gap: 15px;
    align-items: baseline;
}

.btn-container{
    width: 170px;
}

.btn-exit{
    width: 100%;
    padding: 10px;
    color: #ffffff;
    border-radius: 100px;
    outline: none;
    border: none;
    background-color: #f7483f;
}

.btn-exit:hover{
    background-color: #92312c;
}

.opt-button{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 10px;
    margin-top: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.modal{
    color: #000000;
}

@media (min-width: 768px) { 
    
    .opt-button{
        flex-direction: row;
        gap: 25px;
    }
    
}