.title{
    text-align: center;
    color: #4b4b4b;
}

.sub-title{
    text-align: center;
}

.lesson-content{
    margin-top: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.lesson-content .img-content{
    margin: auto;
    max-width: 700px;
}

.lesson-content .img-content img{
    margin-bottom: 10px;
    cursor: pointer;
}

.lesson-content h6, .lesson-content p, .lesson-content li{
    font-size: 16px;
}

.lesson-content ul{
    list-style: none;
}

#btnTakePostTest{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lighthouse{
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 600;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease all;
    overflow: auto;
}

.inner-lighthouse{
    max-width: 600px;
    margin: 50px 20px;
    position: relative;
}

.inner-lighthouse i{
    position: absolute;
    font-size: 18px;
    color: white;
    top: -30px;
    right: 0px;
    cursor: pointer;
}

#modalTests i#btnNext, #modalTests i#btnPrev{
    cursor: pointer;
}

#modalTests .question{
    min-height: 100px;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
}

#modalTests .choices .radio-choice{
    border: 2px solid gray;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#modalTests .choices .radio-choice:hover{
    border: 2px solid #d37bce;
}

#modalTests .radio-choice span{
    display: block;
    font-weight: 700;
}

#modalTestResults .chart-container{
    max-width: 200px;
    margin: 0 auto;
    position: relative;
}

#modalTestResults .chart-container .text-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modalTestResults .chart-container .text-container span{
    font-size: 30px;
}

#modalTestResults .result-container .question{
    border: 1px solid rgb(180, 180, 180);
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#modalTestResults .result-container .question p{
    padding: 10px;
}

#modalTestResults .result-container .answer{
    width: 100%;
}

#modalTestResults .result-container .d-flex{
    border: 1px solid rgb(180, 180, 180);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#modalTestResults .result-container .answer label{
    display: block;
    padding: 3px;
    text-align: center;
}

#modalTestResults .result-container .answer label:nth-child(1){
    font-size: 12px;
}

@media (min-width: 768px) {

    .lesson-content h6, .lesson-content p, .lesson-content li{
        font-size: 18px;
    }

    .inner-lighthouse{
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 992px) {

    .lesson-content h6, .lesson-content p, .lesson-content li{
        font-size: 20px;
    }

}